<!-- About us page -->

<div class="clearfix row div-top" style="width: 98%; margin: auto">

  <div class="col-md-1"></div>

  <div class="content">
  
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.078737326359!2d-74.33687328510052!3d40.561938454720185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b667532db7fd%3A0x42a56146afbed101!2sTata%20Consultancy%20Services!5e0!3m2!1sen!2sus!4v1620072370528!5m2!1sen!2sus"
     width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>

  <div class="about">
    <div class="col-md- 4 border-p">
    <h2 class="u-custom-font u-font-playfair-display u-text u-text-1">
      About Us
    </h2>

    <p class="u-text u-text-grey-30 u-text-2">
      News 24x7” is a company which delivers news via Newspaper. In order to increase the
      customer reach, We have decided to go online. So, we build a dynamic web
      application which is very user-friendly and accessible to everyone.
    </p>
    <br />

    <p>
      With a newly remodeled office and access to some of the best resources,
      our headquarters is located right in the heart of Edison on 379 Thornall St, Edison, NJ 08837.
    </p>
    </div>
  </div>
</div>
</div>


